{
  "extends": "airbnb",
  "env": {
    "browser": true,
  },
  "rules": {
    "react/destructuring-assignment": "off",
    "react/state-in-constructor": "off",
    "react/jsx-fragments": "off",
    "react/jsx-props-no-spreading": ["error", { "html": "enforce", "custom": "ignore" }],
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
  }
}
