service cloud.firestore {
  match /databases/{database}/documents {

    //
    // Functions
    //
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function userOwnsData() {
      return request.auth.uid == resource.data.authorId;
    }

    function isCurrentUser(userId) {
      return request.auth.uid == userId;
    }

    //
    // Paths
    //
    match /punctuals/{record} {
      allow read, update, delete: if userOwnsData();
      allow create: if isAuthenticated();
    }

    match /recurrents/{record} {
      allow read, update, delete: if userOwnsData();
      allow create: if isAuthenticated();
    }

    match /settings/{userId} {
      allow create: if isAuthenticated();
      allow read, update: if isCurrentUser(userId);
    }
  }
}
